{% load icon %}
<form id="add-certification-form" method="POST">
    
    {% csrf_token %}
        <div class="headertitle parts">
            <p class="header">Add a certification</p>
        </div>
        <div class="introduction-part parts">
            <p class="subtitles">Certification's information</p>
            <div class="div-field" id="div-company">
                {{ form.company.errors }}
                <div class="label-icons">
                    {% icon "user" class="svg-green" height="26" width="26" %}
                    {{ form.company.label_tag }}
                </div>
                {{ form.company }}
            </div>
            <div class="div-field" id="div-title">
                {{ form.title.errors }}
                <div class="label-icons">
                    {% icon "award" class="svg-green" height="26" width="26" %}
                    {{ form.title.label_tag }}
                </div>
                {{ form.title }}
            </div>
            <div class="div-field date" id="div-earned-date">
                {{ form.earned_at.errors }}
                <div class="label-icons">
                    {% icon "calendar" class="svg-green" height="26" width="26" %}
                    {{ form.earned_at.label_tag }}
                </div>
                {{ form.earned_at }}
            </div>
            <div class="div-field date" id="div-expiry-date">
                {{ form.expires_at.errors }}
                <div class="label-icons">
                    {% icon "calendar" class="svg-green" height="26" width="26" %}
                    {{ form.expires_at.label_tag }}
                </div>
                {{ form.expires_at }}
            </div>
            <div class="div-field" id="div-certification-id">
                {{ form.certification_idcode.errors }}
                <div class="label-icons">
                    {% icon "info" class="svg-green" height="26" width="26" %}
                    {{ form.certification_idcode.label_tag }}
                </div>
                {{ form.certification_idcode }}
            </div>
            <div id="mandatory">
                <p class="mandatory"><em>*Mandatory field</em></p>
            </div>
        </div>
        <div class="submit-part parts" id="certification-submit-div">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <input id="certification-submit-button" type="submit" value="Add">
        </div>
</form>