<form action="{% url 'consultants:forgot_password' %}" id="forgotten-password-form" method="POST">
    {% csrf_token %}
    <div id="container">
        <div id="headline">    
            <p id="title">Forgotten Password?</p>
            <p>Enter your information and we will send you an email with a link to reset it.</p>
        </div>
        <div id="fields">
            <div class="field">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
        </div>
        <div id="submit" class="field">
            {% if message %}
            <p class="error">{{ message }}</p>
            {% endif %}
            <input id="submit-button" type="submit" value="Reset">
        </div>
    </div>
</form>