<form action="{% url 'consultants:reset_password' token=token %}" id="reset-password-form" method="POST">
    {% csrf_token %}
    <div id="container">
        <div id="headline">    
            <p id="title">Reset your password</p>
        </div>
        <div id="fields">
            <div class="field">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
        </div>
        <div id="submit" class="field">
            {% if message %}
            <p class="error">{{ message }}</p>
            {% endif %}
            <input id="submit-button" type="submit" value="Reset">
        </div>
    </div>
</form>