{% load icon %}
<form id="reference-case-form" method="POST">
    {% csrf_token %}
        <div class="headertitle parts">
            <p class="header">Send a case</p>
        </div>
        <div class="introduction-part parts">
            <p class="subtitles">Introduction</p>
            <div class="div-field" id="div-company">
                {{ form.company.errors }}
                <div class="label-icons">
                    {% icon "user" class="svg-blue" height="26" width="26" %}
                    {{ form.company.label_tag }}
                </div>
                {{ form.company }}
            </div>
            <div class="div-field" id="div-industry">
                {{ form.industry.errors }}
                <div class="label-icons">
                    {% icon "list" class="svg-blue" height="26" width="26" %}
                    {{ form.industry.label_tag }}
                </div>
                {{ form.industry }}
            </div>
            <div class="div-field" id="div-start-date">
                {{ form.project_start.errors }}
                <div class="label-icons">
                    {% icon "calendar" class="svg-blue" height="26" width="26" %}
                    {{ form.project_start.label_tag }}
                </div>
                {{ form.project_start }}
            </div>
            <div class="div-field" id="div-end-date">
                {{ form.project_end.errors }}
                <div class="label-icons">
                    {% icon "calendar" class="svg-blue" height="26" width="26" %}
                    {{ form.project_end.label_tag }}
                </div>
                {{ form.project_end }}
            </div>
        </div>
        <div class="problem-part parts">
            <p class="subtitles">Problem</p>
            <div class="div-field" id="div-issue">
                {{ form.issue.errors }}
                <div class="label-icons">
                    {% icon "alert-circle" class="svg-blue" height="26" width="26" %}
                    {{ form.issue.label_tag }}
                </div>
                {{ form.issue }}
            </div>
            <div class="div-field" id="div-architecture">
                {{ form.architecture.errors }}
                <div class="label-icons">
                    {% icon "database" class="svg-blue" height="26" width="26" %}
                    {{ form.architecture.label_tag }}
                </div>
                {{ form.architecture }}
            </div>
            <div class="div-field" id="div-challenge">
                {{ form.challenge.errors }}
                <div class="label-icons">
                    {% icon "award" class="svg-blue" height="26" width="26" %}
                    {{ form.challenge.label_tag }}
                </div>
                {{ form.challenge }}
            </div>
        </div>
        <div class="solution-part parts">
            <p class="subtitles">Solution</p>
            <div class="div-field" id="div-solution">
                {{ form.solution.errors }}
                <div class="label-icons">
                    {% icon "check-circle" class="svg-blue" height="26" width="26" %}
                    {{ form.solution.label_tag }}
                </div>
                {{ form.solution }}
            </div>
            <div class="div-field" id="div-tools">
                {{ form.tools.errors }}
                <div class="label-icons">
                    {% icon "tool" class="svg-blue" height="26" width="26" %}
                    {{ form.tools.label_tag }}
                </div>
                {{ form.tools }}
            </div>
        </div>
        <div class="agilos parts">
            <p class="subtitles">Agilos</p>
            <div class="div-field" id="div-why-agilos">
                {{ form.why_agilos.errors }}
                <div class="label-icons">
                    {% icon "star" class="svg-blue" height="26" width="26" %}
                    {{ form.why_agilos.label_tag }}
                </div>
                {{ form.why_agilos }}
            </div>
        </div>
        <div class="gpt-content hide parts">
            <p class="subtitles">GPT Content</p>
            <div class="div-field" id="div-gpt-content">
                {{ form.gpt_content.errors }}
                <div class="label-icons">
                    {% icon "info" class="svg-blue" height="26" width="26" %}
                    {{ form.gpt_content.label_tag }}
                </div>
                {{ form.gpt_content }}
            </div>
        </div>
        <div class="submit-part parts" id="reference-case-submit-div">
            <p class="subtitles">Send</p>
            <button id="process-button">GPT Process</button>
            <div id="loader"></div>
            <input id="reference-case-submit-button" type="submit" value="Send">
        </div>
</form>