{% extends "consultants/layouts/base.html" %}
{% load static %}
{% load icon %}
{# HEAD #}
    {# Style #}
    {% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock style %}

    {# Javascript #}
    {% block javascript %}
    <script src="{% static "dynamic-list.js" %}"></script>
    <script src="{% static "remove_lastchar.js" %}"></script>
    {% endblock javascript %}

    {# Title #}
    {% block page_title %}MyAgilos - Add a Certification{% endblock page_title %}


{# BODY #}
{% block side_container %}
    
    {# HEADER #}
    {% include "consultants/includes/sidebar.html" %}
    {# MAIN #}
    <main>
        {# FORM #}
        {% if form %}
        {% include "consultants/includes/addcertification_form.html" %}
        {% endif %}
    </main>
    {{ request.user.as_consultant }}
    {{ request.user }}
    {{ form_instance }}
{% endblock side_container %}