{% extends 'consultants/layouts/base.html' %}
{% load static %}

{# HEAD #}
    {# CSS #}
    {% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock style %}

    {# JavaScript #}
    {% block javascript %}
    <script src="{% static 'remove_lastchar.js' %}"></script>
    {% endblock javascript %}
    {% block page_title %}MyAgilos - Forgotten Password{% endblock page_title %}

{# BODY #}
{% block body %}
    <div id="horizontal-container">

        {# HEADER #}
        {% include "consultants/includes/horizontal_bar.html" %}

        {# MAIN #}
        <main>
            <div class="wrapper">
                {% include "consultants/includes/forgot_password_form.html" %}
            </div>
        </main>
    </div>
{% endblock body %}